RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^growupcrypto.site$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.growupcrypto.site$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
